<tr>
    <td>
        <%= image_tag item.product.image.thumb, alt: item.product.name %>
    </td>
    <td>
        <h4><%= item.product.name %></h4>
    </td>
    <td>
        <h4><%= item.product.description %></h4>
    </td>
    <td>
        <h4><%= item.quantity %></h4>
    </td>
    <td>
        <h4><%= item.total_price %></h4>
    </td>
</tr>